#main{
	background-color: #ffff4f;
} /*solo colore di sfondo*/

#sezione1{
	float: left;
	width: 49%;
	margin: 0.5%;
	padding: 3%;
}
#sezione2 {
	float: right;
	width: 49%;
	margin: 0.5%;
	padding: 3%;
}

.titoli {
	color: white;
	text-align: center;
	padding: 5%;
}
#titolo1{
	background-color: #fa3605;
}
#titolo2 {
	background-color: #055dff;
}
.sottotitoli {
	text-align: left;
	margin: 0%;
	padding: 1%;
}
#sottotitolo1 {
	background-color: #ffa600;
}
#sottotitolo2 {
	background-color: #05d9fa;
}
.paragrafi {
	text-align: justify;
	font-size: 16px;
	margin: 4%;
	margin-top: 3%;
}
#paragrafo1 {
	font-family: "Georgia", Helvetica, sans-serif;
}
#paragrafo2 {
	font-family: "Courier New", Helvetica, sans-serif;
}
#liste{
	/*display: flex;*/
	font-size: 14px;
	font-family: "Georgia", Monospace, sans-serif;
	margin-top: 5%;
	margin-right: 7%;
	margin-left: 7%;
	margin-bottom: 5%;
	padding-top: 4%;
	padding-left: 7%;
	padding-right: 7%;
	padding-bottom: 1%;
	background-color: #ff8ab5;
}
h4.liste{
	color: white;
	font-weight: bold;
	font-size: 22px;
	text-decoration: underline overline;
	margin-bottom: 5%;
	margin-right: 2%;
	margin-left: -10%;
}

h3.links{
	margin-top: 20%;
	margin-bottom: 1.5%;
	padding-left: 3.5%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	background-color: #ca1cff;
	color: white;
}
h4.links{
font-weight: 450;
font-size: 20px;
margin-bottom: 2.5%;
text-decoration: underline;
background-color: #ca1cff;
padding: 2.5%;
}
a:visited{color: #ff00fb;} a:link{color: blue;} a:hover{background-color: #ffcd45} a:active{background-color: green;
}




#tabella1{
	justify-content: center;
	font-family: "Verdana Bold", Helvetica ,sans-serif;
	margin-top: 10%;
}
#tabella1 tr{
	background-color:  #beffb3;
}
#tabella1 tr:nth-child(even){
	background-color: #72ff59;
}
#tabella1 tr:hover{
	background-color: #c7ffd4;
}
#tabella1 th{
	color: white;
	font-weight: 750;
	font-size: 19px;
	background-color:  #00bf50;
}
#tabella1 th,td{
border: 1px solid black;
width: 1000px;
height: 50px;
text-align: center;
}
#tabella2{
	margin-top: 10%;
	text-align: center;
}
th.table-hover{
	font-weight: 1000;
	font-size: 100px;
}